{% extends "base.html" %}

{% block js %}
<!-- EFFECT -->
<script type="text/javascript" src="js/effect.js"></script>
{% endblock %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li class="active"><a href="cv.html">Resume</a></li>
{% endblock %}

{% block content %}

<div class="hero-unit">
   <h1>{{ site.job }} </h1>
</div>

<div class="row-fluid">

  <div class="span2">

    <div class="well sidebar-nav">
      <ul class="nav nav-list bs-docs-sidenav">
        {% for cat in cats %}
          <li class="nav-header"><a href="#{{ cat.name }}">{{ cat.name }}</a></li>
          {% for subcat in cat.subcats %}
            <li><a href="#{{ subcat.name }}">{{ subcat.name }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

  </div><!--/span-->

  <div class="span10">

  {% for cat in cats %}
    <div class="row-fluid">
      <div class="span12">
        <h2 id="{{ cat.name }}">{{ cat.name }}</h2>

        {% if cat.fields %}
        <dl class="dl-horizontal">
          {% for field in cat.fields %}
            <dt>{{ field.label }}</dt>
            <dd>{{ field.content }}</dd>
          {% endfor %}
        </dl>
        {% endif %}

        {% for subcat in cat.subcats %}
        <div class="row-fluid">
          <h3 id="{{ subcat.name }}">{{ subcat.name }}</h3>

            <dl class="dl-horizontal">
            {% for field in subcat.fields %}
              <dt>{{ field.label }}</dt>
              <dd>{{ field.content }}</dd>
            {% endfor %}
            </dl>

        </div>
        {% endfor %}

      </div>
    </div>
  {% endfor %}

  </div>
</div>

{% endblock %}
