{% extends "base.html" %}

{% block nav %}
<li class="active"><a href="index.html">Home</a></li>
<li><a href="cv.html">Resume</a></li>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-6">
    <h2>ME</h2>
    <dl class="dl-horizontal">
      <dt>Name</dt><dd>Aurélien Chabot</dd>
      <dt>Age</dt><dd>30</dd>
      <dt>Nationality</dt><dd>French</dd>
      <dt>City</dt><dd>Dublin, IRELAND</dd>
      <dt>Contact</dt><dd><a href="mailto:aurelien@chabot.fr">aurelien@chabot.fr</a></dd>
      <dt>Job</dt><dd>Linux Software Engineer</dd>
      <dt>Employer<dt><dd><a href="http://corvil.com">Corvil</a><dd>
      <dt>Code repository</dt><dd><a href="http://github.com/trishika">GitHub</a></dd>
    </dl>
  </div>

  <div class="col-sm-6">
    <h2>Technical Interest</h2>
    <dl class="dl-horizontal">
      <dt>OS</dt><dd>Arch Linux, Debian, Android<dd>
      <dt>Embedded system</dt><dd>Busybox, Buildroot, OpenWRT</dd>
      <dt>Multimedia</dt><dd>XBMC, OpenCV, gstreamer</dd>
      <dt>Platform</dt><dd>RaspberryPI, Cubieboard</dd>
      <dt>Desktop</dt><dd><a href="http://i3wm.org">i3</a></dd>
    </dl>
  </div>

  <div class="col-sm-6">
    <h2>Projects</h2>
    <dl class="dl-horizontal">
      <dt>DroidUPnP</dt>
      <dd>
        <b>Android application</b> allowing control of UPnP compatible device and share of local multimedia content.
        <br/>
        See project on <a href="http://github.com/trishika/DroidUPnP">GitHub</a>.
      </dd>
      <dt>Home-Pi</dt>
      <dd>
        <b>A Home domotique service on top of raspberrypi</b>.
        By controlling a temperature sensor (through I2C) and a radio emmiter (through GPIO), home heaters and lights are monitored, controled and scheduled from a phone or a computer.
        <br/>
        See project on <a href="http://github.com/trishika/home-pi">GitHub</a>.
      </dd>
    </dl>
  </div>

</div>
{% endblock %}
